/* Global font style for Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .desktop-navbar {
    display: none !important;
  }
  .mobile-navbar {
    display: flex !important;
  }
}

@media (min-width: 769px) {
  .desktop-navbar {
    display: flex !important;
  }
  .mobile-navbar {
    display: none !important;
  }
}

.nav-link {
  font-size: 18px;
  font-family: 'Roboto Serif', serif;
  font-weight: 500;
  color: #1E1E1E;
  background: transparent;
  border: none;
  padding: 0 20px;
  cursor: pointer;
}

.nav-link:hover {
  color: #000;
}

.download-btn {
  border: 1px solid #000000;
  color: #1E1E1E;
  font-size: 18px;
  font-family: 'Roboto Serif', serif;
  font-weight: 500;
  padding: 6px 16px;
  background: transparent;
  cursor: pointer;
}

.drawer {
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.drawer.open {
  transform: translateY(0);
  opacity: 1;
}

.mobile-navbar {
  display: flex;
  align-items: center;
}

.mobile-navbar button {
  background: transparent;
  border: none;
  color: #1E1E1E;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.3s ease;  /* Adding transition to button */
}

.mobile-navbar button.open {
  transform: rotate(90deg);  /* Rotates 90 degrees when the drawer is open */
}

.hero-container {
  position: relative;
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5%;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.hero-content {
  z-index: 1;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.hero-tagline {
  font-size: 1.8rem;
  font-family: 'Roboto Serif', serif;
  margin: 0;
  font-style: italic;
  line-height: 1.5;
}

.hero-title {
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: 'Montserrat', sans-serif;
}

.hero-subtext {
  font-size: 1.25rem;
  font-family: 'Roboto Serif', serif;
  opacity: 0.9;
}

.hero-button {
  margin-top: 1rem;
}

.hero-button button {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-family: 'Lora', serif;
  font-weight: 500;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .hero-tagline {
    font-size: 1.5rem;
  }

  .hero-title {
    font-size: 3.5rem;
  }

  .hero-subtext {
    font-size: 1.125rem;
  }
}

@media (max-width: 768px) {
  .hero-tagline {
    font-size: 1.2rem;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtext {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-tagline {
    font-size: 1rem;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-subtext {
    font-size: 0.875rem;
  }
}



/* ResponsiveComponent.css */

.container {
  padding: 2rem;
  text-align: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-wrapper img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

.card-wrapper span {
  color: #000;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  line-height: normal;
  font-size: 20px;
  font-weight: 500;
}

/* Medium screens (tablets) */
@media (max-width: 768px) {
  .card-wrapper img {
    max-width: 160px;
  }

  .card-wrapper span {
    font-size: 16px;
  }
}

/* Small screens (phones) */
@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .card-wrapper img {
    max-width: 120px;
  }

  .card-wrapper span {
    font-size: 14px;
  }
}

/* OurStory.css */
.our-story-section {
  width: 100%;
  overflow: hidden;
}

.our-story-top {
  background-color: #f9f6f2;
}

.our-story-title {
  font-family: 'Montserrat', sans-serif;
  color: #4F3114;
  margin-bottom: 1rem;
}

.our-story-subtitle {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

.our-story-paragraph {
  line-height: 1.8;
  color: #333;
}

.our-story-image {
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
}

.our-story-bottom {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.our-story-background {
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  filter: brightness(0.8);
}

.our-story-overlay {
  background: rgba(164, 100, 40, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.our-story-capabilities-title {
  font-family: Montserrat;
  color: #4F3114;
  margin-bottom: 2rem;
}

.our-story-capabilities-text {
  color: #fff;
  line-height: 1.6;
  white-space: pre-line;
  margin: 0;
}

/* ProductGrid.css */

.product-grid-container {
  padding: 2rem 2rem;
}

.product-grid-heading {
  font-size: 60px;
  font-weight: 500;
  text-align: right;  
  font-family: "Montserrat", sans-serif;
}

.product-tile {
  position: relative;
  width: 100%;
  padding-bottom: 90%;
  overflow: hidden;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.product-image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product-overlay {
  background-color: rgba(188, 144, 97, 0.9);
  color: white;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.product-title {
  font-size: 13px;
  font-weight: 600;
}

.product-subtitle {
  font-weight: 400;
  font-size: 12px;
}

.product-arrow {
  font-size: 16px;
  border: 2px solid white;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* Footer Container */
.footer-container {
  background-color: #e7dfd1;
}

/* Content Container */
.footer-content {
  margin: 0 auto;
  max-width: 1350px;
  padding: 1rem;
}

/* Quick Links Title */
.footer-quick-links-title {
  color: #A46428;
  font-family: "Roboto Serif", serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* Quick Links List */
.footer-quick-links-list {
  padding-left: 1rem;
  margin: 0;
}

.footer-quick-links-item {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  color: #1E1E1E;
}

/* Social Media Icons */
.footer-social-media {
  font-size: 20px;
  margin-bottom: 1rem;
}

.footer-social-media .icon {
  margin-right: 1rem;
}

/* Footer Button */
.footer-button {
  background-color: #A46428;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
}

/* Bottom Bar */
.footer-bottom-bar {
  margin-top: 2rem;
  background-color: #A46428;
  text-align: center;
  padding: 0.8rem;
  font-size: 12px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
